@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

/* This will apply the styles inside the brackets to extra small screens */
@media (max-width: 639px) {
  .xs\:text-4xl {
    font-size: 4rem;
  }
}



  .topbar {
    @apply fixed top-0 z-30 flex w-full items-center justify-between bg-dark-2 px-6 py-3;
  }

  .bottombar {
    @apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-[#709b726a] p-4 backdrop-blur-lg xs:px-7 md:hidden;
  }

  .bottombar_container {
    @apply flex items-center justify-between gap-3 xs:gap-5;
  }

  .bottombar_link {
    @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
  }

  
.coverImage {
  object-fit: cover;
  object-position: center;
  width: 100% !important; /* Override the width set by Next.js */
  height: 90% !important; /* Override the height set by Next.js */
  position: absolute;
  top: 0;
  left: 0;
}
